/target/
*.iml
*.class
*.log
*.tmp
*.swp
.DS_Store
.idea/
*.ipr
*.iws
Thumbs.db
src/main/resources/application.properties
*.env
*.bak
*.old
*.orig
*.vscode/
*.project
*.classpath
/test-outputs/
uploads/
